<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>姓名案例</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			姓：<input type="text" v-model="firstName" /><br/><br/>
			名：<input type="text" v-model="lastName" /><br/><br/>
			全名：<span>{{FullName()}}</span>
		</div>
	</body>
	
	<script>
	 new Vue({
		el:'#app',
		data: {
			firstName:'',
			lastName : ''
		},
		methods:{
			FullName(){
				return this.firstName + '-' + this.lastName
			}
		}
	})
	</script>
</html>
